<!--
  Copyright 2020 Johannes Marbach

  This file is part of AliExpress Invoice Generator, hereafter referred
  to as the program.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="onboard.css">
  </head>
  <body>
      <img src="../icons/icon-128.png">
      <h1>AliExpress Invoice Generator</h1>
      <p>
        <i>Generate PDF invoices from AliExpress with ease</i>
      </p>
      <h2>About</h2>
      <p>
          Welcome to <b>AliExpress Invoice Generator</b>. This add-on allows you to generate PDF invoices directly from your order detail pages on <a href="https://www.aliexpress.com">aliexpress.com</a>. Key features include:
          <ul>
            <li><b>Free as in beer</b> &ndash; The add-on doesn't cost you a dime</li>
            <li><b>Free as in speech</b> &ndash; The code is <a href="https://github.com/Johennes/aliexpress-invoice-generator">open source</a> so you can modify and use it however you like as long as you adhere to the GPLv3 (or later)</li>
            <li><b>Zero tracking</b> &ndash; The add-on doesn't record any form of analytics. In fact, it doesn't even have permission to send any network requests. Everything you do remains strictly on your computer only.</li>
            <li><b>Secure</b> &ndash; Because the code is open source (which means anyone can inspect and verify it) and no networking is involved, none of your data is at risk of being compromised by the add-on</li>
          </ul>
          <p>
          I originally developed this add-on for my personal needs only. Many of the current features were added later, motivated by an ever growing user base and helpful feedback from like-minded people. Got an issue or an idea? Feel free to <a href="mailto:n0-0ne+aliexpress-invoice-generator@mailbox.org">reach out</a>.
      </p>
      <h2>How to Use</h2>
      <p>
        Using the add-on is extremely easy. Go to <a href="https://www.aliexpress.com">aliexpress.com</a> and open the details page for the order in question. Once on the page, there are two ways to generate the PDF. You can either click the page action button on the right side of the address bar (1) or the inline "PDF Invoice" button (2).
      </p>
      <img id="onboarding-1" class="screenshot" src="../screenshots/onboarding-1.png">
      <p>
        Both buttons will scrape the data from the page, generate an invoice in PDF form and then open a file saving dialog. Once saved, the PDF will look similar to this.
      </p>
      <img id="onboarding-2" class="screenshot" src="../screenshots/onboarding-2.png">
      <p>
        If you want to customise options for the PDF generation, you can do so by going to the add-on preferences.
      </p>
      <img id="onboarding-3" class="screenshot" src="../screenshots/onboarding-3.png">
      <script type="application/javascript" src="../browser-polyfill.js"></script>
      <script type="application/javascript" src="onboard.js"></script>
  </body>
</html>
