<!--
  Copyright 2020 Johannes Marbach

  This file is part of AliExpress Invoice Generator, hereafter referred
  to as the program.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <body>
      <img src="../icons/icon-128.png">
      <h1>AliExpress Invoice Generator</h1>
      <p>
        <i>Generate PDF invoices from AliExpress with ease</i>
      </p>
      <p>
          Welcome to version <b>3.1.2</b> of the add-on. Below you'll find a brief summary of changes in this and previous versions.
      </p>
      <p>
          Got an issue or an idea? Feel free to <a href="mailto:n0-0ne+aliexpress-invoice-generator@mailbox.org">reach out</a>.
      </p>
      <h2>Changelog</h2>
      <h3>?.?.? - 20??-??-??</h3>
      <h4>Changed</h4>
      <ul>
        <li>Update PDFKit and all other dependencies to the latest version</li>
      </ul>
      <h2>Changelog</h2>
      <h3>3.1.2 - 2021-09-18</h3>
      <h4>Fixed</h4>
      <ul>
        <li>Correctly handle taxes on orders above 150EUR (where AliExpress doesn't collect the taxes anymore)</li>
        <li>Strip internal duplicate whitespace when scraping text</li>
      </ul>
      <h3>3.1.1 - 2021-09-06</h3>
      <h4>Fixed</h4>
      <ul>
        <li>Correctly display taxes for orders which only declare the total but no line item tax</li>
        <li>Make sure all discounts, not just the first one, show on the invoice</li>
      </ul>
      <h3>3.1.0 - 2021-07-08</h3>
      <h4>Added</h4>
      <ul>
        <li>Add Spanish translations (thanks @Ronny)</li>
      </ul>
      <h4>Fixed</h4>
      <ul>
        <li>Correctly scrape taxes and total price on orders after 2021-07-01 (thanks @roadhousepc)</li>
      </ul>
      <h3>3.0.0 - 2021-04-27</h3>
      <h4>Changed</h4>
      <ul>
        <li>Pick invoice language based on browser locale, currently supported languages: English, German, Italian (thanks @dentex)</li>
      </ul>
      <h3>2.10.0 - 2021-04-02</h3>
      <h4>Added</h4>
      <ul>
        <li>Add option to select font (Droid Sans, Helvetica or Times)</li>
      </ul>
      <h3>2.9.0 - 2020-12-03</h3>
      <h4>Added</h4>
      <ul>
        <li>Add option to exclude buyer info from order details</li>
      </ul>
      <h3>2.8.0 - 2020-10-01</h3>
      <h4>Added</h4>
      <ul>
        <li>Add all item specs (e.g. color, ships from, ...) instead of just the first one</li>
      </ul>
      <h3>2.7.0 - 2020-09-13</h3>
      <h4>Added</h4>
      <ul>
        <li>Add payment breakdown (including coupons)</li>
      </ul>
      <h4>Fixed</h4>
      <ul>
        <li>Correctly parse US$ total / shipping</li>
      </ul>
      <h3>2.6.1 - 2020-09-10</h3>
      <h4>Changed</h4>
      <ul>
        <li>Exclude messages about missing optional data from the generation log</li>
      </ul>
      <h4>Fixed</h4>
      <ul>
        <li>Invoice generation fails on some orders when items are missing a subtitle</li>
        <li>Multiple tracking numbers wrap on several lines</li>
      </ul>
      <h3>2.6.0 - 2020-09-02</h3>
      <h4>Added</h4>
      <ul>
        <li>Display warning and error details in generation log on page</li>
        <li>Include shipping company and tracking number on invoice (if available)</li>
      </ul>
      <h4>Changed</h4>
      <ul>
        <li>Eliminate dependency on jQuery</li>
        <li>Switch to Droid Sans Fallback to support Asian characters</li>
      </ul>
      <h4>Fixed</h4>
      <ul>
        <li>Don't display upboarding page after installing, only after updating</li>
      </ul>
      <h3>2.5.1 - 2020-08-27</h3>
      <h4>Fixed</h4>
      <ul>
        <li>Fix rendering of full-width Pound signs</li>
      </ul>
      <h3>2.5.0 - 2020-08-27</h3>
      <h4>Added</h4>
      <ul>
        <li>Support for Google Chrome</li>
      </ul>
      <h3>2.4.0 - 2020-08-06</h3>
      <h4>Added</h4>
      <ul>
        <li>Inline settings button on order details page</li>
        <li>Feedback paragraph in preferences</li>
        <li>New onboarding page to explain usage</li>
        <li>Onboarding page and changelog linked from preferences</li>
      </ul>
      <h4>Changed</h4>
      <ul>
        <li>New logo</li>
        <li>Colorize inline buttons to set them apart from normal page content</li>
      </ul>
      <h4>Fixed</h4>
      <ul>
        <li>Use embedded font (OpenSans) to avoid missing glyphs (e.g. £) on some operating systems</li>
        <li>Make inline print button placement more robust (sometimes did not show)</li>
      </ul>
      <h3>2.3.0 - 2020-08-02</h3>
      <h4>Added</h4>
      <ul>
        <li>Allow specification of additional lines for buyer section in preferences</li>
        <li>Display changelog on add-on update</li>
      </ul>
      <h3>2.2.0 - 2020-06-18</h3>
      <h4>Changed</h4>
      <ul>
        <li>Download PDF instead of opening it in new tab</li>
      </ul>
      <h3>2.1.0 - 2020-02-15</h3>
      <h4>Added</h4>
      <ul>
        <li>Insert always-zero tax line item in total breakdown</li>
      </ul>
      <h4>Changed</h4>
      <ul>
        <li>Replace "Order 123..." with "Invoice 123..."</li>
      </ul>
      <h3>2.0.0 - 2019-12-12</h3>
      <h4>Added</h4>
      <ul>
        <li>Page action as a secondary way to create the PDF</li>
      </ul>
      <h4>Changed</h4>
      <ul>
        <li>Generate PDFs directly inside the extension without relying on the print interface</li>
      </ul>
      <h4>Removed</h4>
      <ul>
          <li>Article icon in line item</li>
      </ul>
      <h3>1.0.0 - 2019-09-24</h3>
      <h4>Changed</h4>
      <ul>
        <li>Prevent page margin hacks and let the user configure the margin via print preview</li>
      </ul>
      <h4>Fixed</h4>
      <ul>
        <li>Add support for buyer addresses with 2 lines</li>
        <li>Only show discount when available</li>
      </ul>
      <h3>0.1.0 - 2019-08-31</h3>
      <h4>Added</h4>
      <ul>
        <li>Support for order discounts</li>
        <li>Disclaimer about inaccuracies due to currency conversions</li>
      </ul>
      <h4>Fixed</h4>
      <ul>
        <li>Use payment date as a fallback for the order date if the latter isn't available</li>
      </ul>
      <h3>0.0.1 - 2019-08-16</h3>
      Initial release
  </body>
</html>
